* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: minmax(50px, auto);
  max-width: 1000px;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "header header"
    "nav nav"
    "section-left section-right"
    "footer footer";
  flex-wrap: wrap;
  gap: 15px;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-dot {
  background-color: #480063;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav-box {
  background-color: #b2008a;
  height: 40%;
  width: 100%;
  border-radius: 60px;
}

.section-left {
  grid-area: section-left;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  column-gap: 5px;
  margin-left: 60px;
}

.box-left {
  background-color: #fd96a9;
  height: 100%;
  width: 100%;
}

.section-right {
  grid-area: section-right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.box-right {
  background-color: #f42dac;
  height: 50%;
  width: 80%;
}

.footer {
  grid-area: footer;
}
.footer-bottom {
  background-color: #c1c99a;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "nav"
      "section-left"
      "section-right"
      "footer";
    flex-wrap: wrap;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .section-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
